<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <%if(contents.length>0){%>
    <%var i = 0;%>
    <%contents.forEach(function(item){%>
    <%i++;%>
    <tr>
        <td class="number"><%=i%></td>
        <td class="title"><a href="/boards/view?id=<%=item._id%>"><%=item.title%></a></td>
        <td class="writer"><%=item.writer%></td>
        <td class="date"><%=dateFormatChange(item.date)%></td>
        <td class="cnt"><%=item.count%></td>
    </tr>
    <%})%>
    <%} else {%>
    <tr>
        <td colspan="5">게시물이 없습니다.</td>
    </tr>

    <%}%>
    <br>
    <button type="button" class="btn btn-primary" onclick="location.href='./write'">Write</button>
</body>
</html>